<nav class="flex flex-col items-center py-4 h-full justify-between">
    <ul class="menu gap-4 rounded-box">
        @for (navItem of sideNavItems; track navItem.label) {
            <li>
                <a class="tooltip tooltip-right" [attr.data-tip]="navItem.label">
                    <span class="material-icons">{{ navItem.icon }}</span>
                </a>
            </li>
        }
    </ul>
    <label class="swap swap-rotate my-3">
        <input type="checkbox" (change)="toggleTheme($event.target)" />
        <span class="swap-off material-icons">light_mode</span>
        <span class="swap-on material-icons">dark_mode</span>
    </label>
</nav>
