<header class="navbar px-7 bg-base-100 shadow-sm">
    <div class="flex flex-row flex-1 items-center">
        <a class="font-bold text-xl cursor-pointer">IoT Dashboard</a>
        <div class="divider divider-horizontal"></div>
        <a class="font-medium text-l leading-none">Dashboard</a>
    </div>

    <div class="flex gap-2">
        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost m-1">
                <span class="material-icons"> translate </span>
            </div>
            <ul
                tabindex="0"
                class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
                <li><a>Português</a></li>
                <li><a>English</a></li>
            </ul>
        </div>
        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                <div class="w-10 rounded-full">
                    <img
                        alt="Tailwind CSS Navbar component"
                        src="https://github.com/diogom14.png" />
                </div>
            </div>
            <ul
                tabindex="0"
                class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
                <li>
                    <a class="justify-between">
                        Profile
                        <span class="badge">New</span>
                    </a>
                </li>
                <li><a>Settings</a></li>
                <li><a>Logout</a></li>
            </ul>
        </div>
    </div>
</header>
